<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8;ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/build/tailwind.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Details</title>
<style>
  #try{
      font-size:100px;
      text-align: center;
  }
</style>
</head>

<body>
    <header class="bg-blue-200">
        <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
          <h2 class="text-2xl inline font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
            <div class="inline">
                <div class="">
                  <img class="lg:inline h-8 w-auto" src="images/logo.svg" alt="Holiday Planner logo">
                </div></div>
            Your Booking History
          </h2>
          <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
            <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
              History is SAFE
            </div>
          </div>
        </div>
        <div class="mt-5 flex lg:mt-0 lg:ml-4">
          <span class="sm:ml-3 shadow-sm rounded-md">
            <form action="/option/packge" id="return">
            <button type="submit" onclick="document.getElementById('return').submit()"class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
              Return
            </button>
            </form>
          </span>
        </div>
      </div>
</header><br><br>
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Your Packages</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Complete History of All Packages Booked on This Account.</p>
      </div>
      <div class="flex flex-wrap -m-2">
        <% if(packagebooking.length==0){ %>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">No Bookings yet</h2>
</div>
</div>
</div>
    
          <% }else{ %>
        <% for(let i=0; i<packagebooking.length; i++){ %>
                    <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">packagebooking[i].packagename</h2>
                            <a href="#" class="text-gray-500">Details</a>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Your Tours</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Complete History of All Tours Booked on This Account.</p>
        </div>
        <div class="flex flex-wrap -m-2">
          <% if(tourbooking.length==0){ %>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">No Bookings yet</h2>
  </div>
  </div>
  </div>
           
            <% }else{ %>
          <% for(let i=0; i<tourbooking.length; i++){ %>
                      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                              <div class="flex-grow">
                              <h2 class="text-gray-900 title-font font-medium">tourbooking[i].tourname</h2>
                              <a href="#" class="text-gray-500">Details</a>
              </div>
            </div>
          </div>
          <% } %>
          <% } %>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Your Hotels</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Complete History of All Hotels Booked on This Account.</p>
        </div>
        <div class="flex flex-wrap -m-2">
          <% if(hotelbooking.length==0){ %>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">No Bookings yet</h2>
  </div>
  </div>
  </div>
            
            <% }else{ %>
          <% for(let i=0; i<hotelbooking.length; i++){ %>
                      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                              <div class="flex-grow">
                              <h2 class="text-gray-900 title-font font-medium"><%= hotelbooking[i].hotelname %></h2>
                              <a href="#" class="text-gray-500">Details</a>
              </div>
            </div>
          </div>
          <% } %>
          <% } %>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Your Flight</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Complete History of All Flights Booked on This Account.</p>
        </div>
        <div class="flex flex-wrap -m-2">
          <% if(flightbooking.length==0){ %>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">No Bookings yet</h2>
  </div>
  </div>
  </div>
            <% }else{ %>
          <% for(let i=0; i<flightbooking.length; i++){ %>
                      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                              <div class="flex-grow">
                              <h2 class="text-gray-900 title-font font-medium">flightbooking[i].departure</h2>
                              <h2 class="text-gray-900 title-font font-medium">flightbooking[i].arrival</h2>
                              <a href="#" class="text-gray-500">Details</a>
              </div>
            </div>
          </div>
          <% } %>
          <% } %>
        </div>
      </div>
  </section><br><br><br>
      <footer class="text-gray-700 body-font bg-blue-300">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Holiday Planner</span>
          </a>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>
</html>